Port {{ ssh_port }}
# Supported HostKey algorithms by order of preference.
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

# Crypto settings
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

#Only allow keys
AuthenticationMethods publickey
PubkeyAuthentication yes

LogLevel VERBOSE

Subsystem sftp  /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO

PermitRootLogin No

AuthorizedKeysFile /etc/ssh/authorized_keys/%u/authorized_keys

ChallengeResponseAuthentication no

UsePAM yes

X11Forwarding no

PrintMotd no

GatewayPorts no

AcceptEnv LANG LC_*

AllowGroups allowssh

